--find-links=https://girder.github.io/large_image_wheels GDAL
folium
GDAL
geopandas
matplotlib
networkx
numpy
osmnx
OWSLib
pandas
Pillow
pyproj
rasterio
scikit-learn
Shapely
streamlit
streamlit_folium
